.DS_Store
node_modules/**
.env
dist
coverage
docs
storybook-static
docker/**/data
packages/vuerd-vscode/out
packages/vuerd/out**
.yarn

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
